<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2000</key>
	<array>
		<string>Malcolm X</string>
		<string>The pelican Brief</string>
		<string>The Hurricane</string>
	</array>
	<key>2001</key>
	<array>
		<string>Remember the Titans</string>
		<string>The bone Collector</string>
	</array>
	<key>2002</key>
	<array>
		<string>John Q</string>
	</array>
	<key>2004</key>
	<array>
		<string>Man on Fire</string>
		<string>Out of Time</string>
		<string>Training Day</string>
		<string>License to Kill</string>
		<string>Carbon Copy</string>
	</array>
</dict>
</plist>
